@import "tailwindcss";

@theme{
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));

  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
}

/* Define colours */
@layer base {
  :root {
    --background: 210 40% 98%;

    --card: rgb(3, 165, 70);
    
  }

  .dark{
    --background: 222 47% 4%;
    --card: rgb(2, 80, 35);
  }
}
@keyframes pulse-subtle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
* {
  @apply border-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
/* Utilities classes */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px){
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024) {
    max-width: 1024px;
  }
  @media (width >= 1280) {
    max-width: 1280px;
  }
}

@utility card-hovcer {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility button {
  @apply px-6 py-2 rounded-full font-medium hover:shadow-amber-100
    hover:scale-105 active:scale-95;
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.4);
}

@utility meteor {
  @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.4);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}